@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-1);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes width-show {
  from {
    width: 0;
  }

  to {
    width: 80%;
  }
}

@keyframes width-scale-show {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
